/** Your theme modifications here **/

/** Section Style Landing Page About **/
@import url('https://fonts.googleapis.com/css?family=Courgette|Libre+Baskerville');

.img-rounded {
    border-radius: 6px;
}

.breadcrum_box {
    width: 100%;
    height: 30px;
    margin: 30px 0 10px 0;
}

.breadcrum_box a.home {
    text-indent: -999em;
    background: url(../images/breadcrum_home.png) no-repeat left bottom;
    height: 18px;
    width: 20px;
    padding-left: 0px;
}
style.css:424
.breadcrum_box a {
    font-size: 13px;
    color: #525252;
    display: block;
    float: left;
    position: relative;
    padding-left: 18px;
    background: url(../images/breadcrum_next.png) no-repeat left bottom;
    padding-right: 9px;
    line-height: 15px;
}

.page {
    overflow: hidden;background-color: #fff;padding: 50px 0;
}

.banner-images {
    margin-top: 5%;background-size: cover;min-height: 300px;opacity: 0.6;
}

.img-with-opacity {
    opacity: 0.6;
}

.images__banner {
    width: 100%;
    overflow: hidden;
}

.pull-right {
    float: right;
}

.margin-top {
    margin-top: 2%;
}

.margin-bottom {
    margin-bottom: 2%;
}

.container:before {
	display: table;content: " ";
}

.page-header { 
	margin: 15px 0 20px 0; padding: 0; border: none;visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;
}

.page-header h2 {
    text-transform: uppercase; font-family: "Raleway Webfont"; font-style: normal; font-weight: 400;font-size: 34px; line-height: 42px;
}

.devider {
    width: 100%; height: 23px; background: url(../../images/devider.png) no-repeat center center; margin: 5px 0 10px;
}

h3.subtitle {
    font-family: "Raleway Webfont"; font-style: italic; font-weight: 400; font-size: 18px; line-height: 26px;
}

#home-introduction-content {
    padding-top: 6px; padding-right: 20px;
}

.default-content {
    position: relative;
}

.default-content:before {
	display: table; content: ""; line-height: 0;
}

.default-content .arrow-cta {
    margin-top: 23px;
}

.arrow-cta.float-right-version {
    float: right;
}

.arrow-cta.float-center-version {
    display: table;
}

.arrow-cta.float-left-version {
    float: left;
}

.arrow-cta {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;font-style: normal;font-weight: 500;font-size: 13px;line-height: 21px;text-transform: uppercase;letter-spacing: .075em;color: #464646;display: inline-block;vertical-align: top;zoom: 1;padding-right: 18px;position: relative;cursor: pointer;text-decoration: none;
}

.arrow-cta:after {
    font: normal normal normal 14px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: "\f138";display: block;color: #464646;position: absolute;top: 0;right: 0;font-size: 14px;line-height: 21px;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;
}

.default-content p {
    font-family: "Raleway Webfont"; font-style: normal; font-weight: 400;font-size: 14px; line-height: 28px; color: #464646; text-align: justify;
}

.default-content p .first-letter {
    font-family: "Raleway Webfont"; font-style: normal; font-weight: 400; font-size: 58px; line-height: 56px; color: #464646; text-transform: uppercase; float: left; margin-right: 8px; margin-bottom: -4px;
}

.group-landing-news-item {
    position: relative;
    padding-left: 60px;
    min-height: 55px;
    padding-top: 5px;
    margin-bottom: 35px;
}

.group-landing-news-item .news-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 50px;
    background: #acbfc6;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.group-landing-news-item .news-icon img {
    display: block;
    height: 54px;
    position: absolute;
    top: -2px;
    left: -2.5px;
}

.group-landing-news-item h2 {
    font-family: "Harriet Display Medium",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .05em;
    color: #707070;
    margin-top: 0px;
    margin-bottom: -1px;
}

.group-landing-news-item p {
    color: #707070;
}

#category-landing-pages p {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}

#category-landing-pages blockquote {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}

.visible-md {
    display: block!important;
}

#desktop-footer .top-footer {
    background: #555555;
    padding-top: 35px;
    border-top: 5px #fff100 solid;
}

#desktop-footer .top-footer .container {
    position: relative;
}

.container .has-breakpoint {
    max-width: 1380px;
    margin: 0 auto;
}

#desktop-footer .desktop-footer-block.footer-block-01 {
    padding-top: 8px;
}

#desktop-footer .bottom-footer {
    background: #555555;
    border-top: 1px #fff solid;
}

.container-fluid.has-breakpoint {
    max-width: 1380px;
    margin: 0 auto;
}

#desktop-footer .desktop-footer-copywrite {
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: .075em;
    text-transform: uppercase;
    padding-top: 17px;
}
#desktop-footer .desktop-footer-trip-advisor-container {
    text-align: right;
}
#desktop-footer .desktop-footer-trip-advisor {
    margin-top: 12px;
    margin-bottom: 11px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
#desktop-footer .desktop-footer-trip-advisor img {
    display: block;
}
.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

.footer-daily-stock {
    width: 100%;
    float: left;
}

.footer-daily-stock h3 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
    margin-left: 20px;
    text-transform: uppercase;
}

.footer-daily-stock-content {
    height: 205px;
    width: 100%;
    position: relative;
}

.footer-daily-stock-content a {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #464646;
    font-size: 12px;
}

.daily-stock-desc {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    color: #464646;
    font-size: 14px;
    background: url(../../images/ic_stok_home.png) center left no-repeat;
    line-height: 18px;
    padding-left: 24px;
}

.daily-stock-map {
    filter: alpha(opacity=30);
    position: absolute;
    bottom: 50px;
    right: 12px;
    margin-left: 20px;
}

.production-h3 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
    margin-left: 20px;
    text-transform: uppercase;
}

.footer-production {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    color: #464646;
    font-family: 'dincond';
    font-size: 28px;
    line-height: 90px;
    margin-bottom: 5px;
}

.footer-production span {
    display: block;
    color: #b56e36;
    font-size: 15px;
    font-family: 'helvetica77';
    line-height: 14px;
}

.footer-production span.top {
    position: absolute;
    top: 0px;
    left: 0px;
}

.footer-production span.bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#desktop-footer .desktop-footer-block {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #464646;
}

#desktop-footer-logo-container {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

#desktop-footer-logo-container .desktop-footer-logo {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin-bottom: 16px;
}

#desktop-footer-logo-container .desktop-footer-logo img {
    display: block;
}

#desktop-footer-logo-container p {
    font-family: 'Handlee', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #464646;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}

#desktop-footer .desktop-footer-block.footer-block-03 {
    padding-right: 0;
    padding-top: 12px;
    width: 100%;
}


#desktop-footer .desktop-footer-block {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #464646;
}

#desktop-footer-mailing-list h4 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
}

#desktop-footer-mailing-list p {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 12px;
    color: #464646;
}

#desktop-footer-mailing-list-form {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background: #ede9e4;
    margin-left: -1px;
    margin-bottom: 16px;
}

#desktop-footer-mailing-list-form input[type=text] {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    width: 100%;
    height: 30px;
    color: #464646;
    outline: 0;
    border: none;
    background: 0 0;
    padding-left: 13px;
    padding-right: 33px;
}

.form--error--message {
    font-size: 12px;
    color: #DE6060;
    text-align: right;
    margin: 5px 0 0 0;
}

#desktop-footer-mailing-list-form input[type=submit] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 30px;
    color: #464646;
    outline: 0;
    border: none;
    background: 0 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
}

#desktop-footer-social-links {
    position: relative;
}

#desktop-footer-social-links h4 {
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
    letter-spacing: .1em;
    margin-bottom: -1px;
}

#desktop-footer-social-links ul {
    font-size: 0;
    margin-left: -5px;
}

#desktop-footer-social-links ul li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    height: 28px;
    width: 24px;
    text-align: center;
    margin-bottom: 2px;
}

#desktop-footer-social-links ul li a {
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}

.icon-instagram:before {
    content: "\e02e";
}

.icon-facebook:before {
    content: "\e00d";
}

.icon-twitter:before {
    content: "\e00c";
}

.icon-youtube:before {
    content: "\e02f";
}

.breadcrum_box {
    width: 100%;
    height: 30px;
    margin: 30px 0 10px 0;
}

.breadcrum_box a.home {
    text-indent: -999em;
    background: url(../../images/breadcrum_home.png) no-repeat left bottom;
    height: 18px;
    width: 20px;
    padding-left: 0px;
}

.breadcrum_box a {
    font-size: 13px;
    color: #525252;
    display: block;
    float: left;
    position: relative;
    padding-left: 18px;
    background: url(../../images/breadcrum_next.png) no-repeat left bottom;
    padding-right: 9px;
    line-height: 15px;
}

.add_fix:after {
    display: block;
    content: "";
    clear: both;
}

/* Latest Main Pages
---------------------------------------------------------------------------------------------------------------*/
.latest{display:block; width:100%; max-width:2000px; margin:0 auto;}
.latest ul{overflow: hidden;}
.latest ul li{display:block; float:left; width:33%; min-height:100%;}
.latest ul li:first-child, .latest ul li:nth-child(5n+1){margin-left:-1px; clear:left;}

.latest ul li figure{display:block; max-width:100%; border:solid; border-width:0 0 0 1px;}
.latest ul li figure img{
    width: 100%;
    padding: 7%;
    margin: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;}
.latest ul li figure figcaption *{margin:0; padding:0;}

.latest a.overlay{display:block; position:relative;}
.latest a.overlay::before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:"";}
.latest a.overlay::after{display:block; position:absolute; top:50%; left:50%; width:40px; height:40px; line-height:40px; margin:-18px 0 0 -18px; padding:0; border-radius:50%; font-family:"FontAwesome"; content:"\f0c1"; font-size:18px; text-align:center;}
.latest a.overlay::before, .latest a.overlay::after{opacity:0;}
.latest a.overlay:hover::before, .latest a.overlay:hover::after{opacity:1;}
.faico a, .latest ::before, .latest ::after, #backtotop{transition:all .3s ease-in-out;}

/* Latest */
.latest ul li figure{border-color:#EBEBEB;}
.latest a.overlay::before{background-color:rgba(0,0,0,.5);}
.latest a.overlay::after{color:#FFFFFF; background-color:#96AFAA;}
.latest a.overlay:hover,a.overlay:focus {
    color: #348e7b;
    text-decoration: underline;
    margin: 7%;
}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}
.nospace{margin:0; padding:0; list-style:none;}

.center{text-align:center;}

/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */
address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}

/* Spacing
--------------------------------------------------------------------------------------------------------------- */
.btmspace-10{margin-bottom:10px;}
.btmspace-15{margin-bottom:15px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}

.inspace-5{padding:5px;}
.inspace-10{padding:10px;}
.inspace-15{padding:15px;}
.inspace-30{padding:30px;}
.inspace-50{padding:50px;}
.inspace-80{padding:80px;}

.paditout{padding-top:50px;}

.row6 {
    color: #FFFFFF;
    background-color: #bbb20f;
}
.row6 a{color:#2d2d2d; background-color:#FFFFFF;}

.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .heading{color:#242424; border-color:inherit;}

/* Generalise
--------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal;}

.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
    #cta, #breadcrumb {max-width:100%;}
}

/* Grid
--------------------------------------------------------------------------------------------------------------- */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}

.first{margin-left:0; clear:left;}

.one_quarter{width:26%;}
.one_third{width:31.28834355828221%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:60%;}


/* CTA - Call To Action */
#cta .heading{color:inherit;}

/* CTA - Call To Action
--------------------------------------------------------------------------------------------------------------- */
#cta{padding:30px 0;}

#cta .heading, #cta .btn{text-transform:uppercase;}
#cta .heading{margin-bottom:10px;}
#cta .btn{display:block; padding:15px; border-radius:8px; text-align:center; font-weight:bold;}
#cta {display:block; margin:0 auto;}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
    .latest{width:90%; max-width:none; padding:30px 0;}
    .latest ul li{float:left; width:47%; margin:0 15px 30px 0;}
    .latest ul li:last-child{margin:0;}
    .latest ul li figure{display:inline-block; border-width:0 1px 1px 1px;}
    /*.latest ul li figure img{width:100%;}*/
    .latest ul li figure figcaption{padding:15px 30px;}
}
/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:750px) {
    .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:left; width:50%; margin:0 0 30px 0; padding:0;}
    #cta{padding-bottom:0;}
}
@media screen and (max-width:480px) {
    .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:left; width:100%; margin:0 0 0 5%; padding:0;}
    #cta{padding-bottom:0;}
}
@media screen and (max-width:900px) {
    #cta {max-width:100%;padding-bottom: 5%;}
}

.footer__contact__us {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #FFFFFF;
    padding-top: 12px;
    text-align: center;
}

.detail__contact__us {
    padding-top: 5px;
}

.detail__contact__us p {
    font-family: "Raleway Webfont";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    padding-bottom: 5px;
    margin:0;
    color: #FFFFFF;
    text-align: center;
}

.paragraph__date {
    margin-bottom: 1%;
    font-size: 12px;
    padding-right: 7px;
}
.paragraph__language {
    margin-bottom: 1%;
    display: inline-flex;
}
.paragraph__language a {
    font-size: 11px;
    text-decoration: none;
    color: #2d2d2d;
    padding: 5px;
}
.paragraph__language a:hover {
    text-decoration: none;
}
span.title__language__selector {
    padding-bottom: 5px;
    width: 130px;
}
.paragraph__navigation {
    margin-bottom: 1%;
    display: inline-flex;
}
.paragraph__navigation a {
    font-size: 11px;
    text-decoration: none;
    color: #2d2d2d;
    padding: 5px;
}

.search-top {
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px 5px 4px 10px;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    width: 100%;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

.search-top input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font: 300 14px/18px 'Raleway', arial;
    color: #999;
}

.search-top button {
    font-size: 18px;
    color: #999;
    background: none;
    border: none;
}

.no__padding__right {
    padding-right: 0;
}

.padding__center {
    padding-left: 3%;
    padding-right: 3%;
}

.full__width {
    width: 100%;
}