/** Your theme modifications here **/

/** Section Style Landing Page About **/
svg {
    vertical-align: middle;
}
.hide__element {
    display: none;
    visibility: hidden;
}
.iframe-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    margin: 0px auto;
    margin-bottom: 2%;
}
#font-white {
    color: #FFFFFF;
}
.introduction__content {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    overflow: hidden;
    height: auto;
    background: #eee;
}

.introduction__content a{
    text-decoration: none;
}
.introduction__content a:hover {
    text-decoration: none;
}

.img-rounded {
    border-radius: 6px;
}

.breadcrum_box {
    width: 100%;
    height: 30px;
    margin: 30px 0 10px 0;
}

.breadcrum_box a.home {
    text-indent: -999em;
    background: url(../images/breadcrum_home.png) no-repeat left bottom;
    height: 18px;
    width: 20px;
    padding-left: 0px;
}
style.css:424
.breadcrum_box a {
    font-size: 13px;
    color: #525252;
    display: block;
    float: left;
    position: relative;
    padding-left: 18px;
    background: url(../images/breadcrum_next.png) no-repeat left bottom;
    padding-right: 9px;
    line-height: 15px;
}

.page {
    overflow: hidden;background-color: #fff;padding: 50px 0;
}

.banner-images {
    margin-top: 5%;background-size: cover;min-height: 300px;opacity: 0.6;
}

.img-with-opacity {
    opacity: 0.6;
}

.images__banner {
    width: 100%;
    overflow: hidden;
}

.pull-right {
    float: right;
}

.margin-top {
    margin-top: 2%;
}

.margin-bottom {
    margin-bottom: 2%;
}

.container:before {
	display: table;content: " ";
}

.page-header { 
	margin: 15px 0 20px 0; padding: 0; border: none;visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;
}

.page-header h2 {
    text-transform: uppercase; font-family: "helvetica-neue"; font-style: normal; font-weight: 400;font-size: 34px; line-height: 42px;
}

.devider {
    width: 100%; height: 23px; background: url(../../images/devider.png) no-repeat center center; margin: 5px 0 10px;
}

h3.subtitle {
    font-family: "helvetica-neue"; font-style: italic; font-weight: 400; font-size: 18px; line-height: 26px;
}

#home-introduction-content {
    padding-top: 6px; padding-right: 20px;
}

.default-content {
    position: relative;
}

.default-content h3 {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.default-content:before {
	display: table; content: ""; line-height: 0;
}

.default-content .arrow-cta {
    margin-top: 23px;
}

.arrow-cta.float-right-version {
    float: right;
}

.arrow-cta.float-center-version {
    display: table;
}

.arrow-cta.float-left-version {
    float: left;
}

.arrow-cta {
    font-family: "Gotham A","Gotham B",Verdana,Geneva,sans-serif;font-style: normal;font-weight: 500;font-size: 13px;line-height: 21px;text-transform: uppercase;letter-spacing: .075em;color: #464646;display: inline-block;vertical-align: top;zoom: 1;padding-right: 18px;position: relative;cursor: pointer;text-decoration: none;
}

.arrow-cta:after {
    font: normal normal normal 14px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: "\f138";display: block;color: #464646;position: absolute;top: 0;right: 0;font-size: 14px;line-height: 21px;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;
}

.default-content p {
    font-family: "helvetica-neue"; font-style: normal; font-weight: 400;font-size: 14px; line-height: 28px; color: #464646; text-align: justify;
}

.default-content p .first-letter {
    font-family: "helvetica-neue"; font-style: normal; font-weight: 400; font-size: 58px; line-height: 56px; color: #464646; text-transform: uppercase; float: left; margin-right: 8px; margin-bottom: -4px;
}

.group-landing-news-item {
    position: relative;
    padding-left: 60px;
    min-height: 55px;
    padding-top: 5px;
    margin-bottom: 35px;
}

.group-landing-news-item .news-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 50px;
    background: #acbfc6;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.group-landing-news-item .news-icon img {
    display: block;
    height: 54px;
    position: absolute;
    top: -2px;
    left: -2.5px;
}

.group-landing-news-item h2 {
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .05em;
    color: #707070;
    margin-top: 0px;
    margin-bottom: -1px;
}

.group-landing-news-item p {
    color: #707070;
}

#category-landing-pages p {
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}

#category-landing-pages blockquote {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}

.visible-md {
    display: block!important;
}

#desktop-footer .top-footer {
    background: #555555;
    padding-top: 35px;
    border-top: 5px #fff100 solid;
}

#desktop-footer .top-footer .container {
    position: relative;
}

.container .has-breakpoint {
    max-width: 1380px;
    margin: 0 auto;
}

#desktop-footer .desktop-footer-block.footer-block-01 {
    padding-top: 8px;
}

#desktop-footer .bottom-footer {
    background: #555555;
    border-top: 1px #fff solid;
}

.container-fluid.has-breakpoint {
    max-width: 1380px;
    margin: 0 auto;
}

#desktop-footer .desktop-footer-copywrite {
    font-family: 'helvetica-neue',Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: .075em;
    text-transform: uppercase;
    padding-top: 17px;
}
#desktop-footer .desktop-footer-trip-advisor-container {
    text-align: right;
}
#desktop-footer .desktop-footer-trip-advisor {
    margin-top: 12px;
    margin-bottom: 11px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
#desktop-footer .desktop-footer-trip-advisor img {
    display: block;
}
.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

.footer-daily-stock {
    width: 100%;
    float: left;
}

.footer-daily-stock h3 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
    margin-left: 20px;
    text-transform: uppercase;
}

.footer-daily-stock-content {
    height: 205px;
    width: 100%;
    position: relative;
}

.footer-daily-stock-content a {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #464646;
    font-size: 12px;
}

.daily-stock-desc {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    color: #464646;
    font-size: 14px;
    background: url(../../images/ic_stok_home.png) center left no-repeat;
    line-height: 18px;
    padding-left: 24px;
}

.daily-stock-map {
    filter: alpha(opacity=30);
    position: absolute;
    bottom: 50px;
    right: 12px;
    margin-left: 20px;
}

.production-h3 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
    margin-left: 20px;
    text-transform: uppercase;
}

.footer-production {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    color: #464646;
    font-family: 'helvetica-neue';
    font-size: 28px;
    line-height: 90px;
    margin-bottom: 5px;
}

.footer-production span {
    display: block;
    color: #b56e36;
    font-size: 15px;
    font-family: 'helvetica-neue';
    line-height: 14px;
}

.footer-production span.top {
    position: absolute;
    top: 0px;
    left: 0px;
}

.footer-production span.bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#desktop-footer .desktop-footer-block {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #464646;
}

#desktop-footer-logo-container {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

#desktop-footer-logo-container .desktop-footer-logo {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin-bottom: 16px;
}

#desktop-footer-logo-container .desktop-footer-logo img {
    display: block;
}

#desktop-footer-logo-container p {
    font-family: 'helvetica-neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #464646;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}

#desktop-footer .desktop-footer-block.footer-block-03 {
    padding-right: 0;
    padding-top: 12px;
    width: 100%;
}


#desktop-footer .desktop-footer-block {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    color: #464646;
}

#desktop-footer-mailing-list h4 {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #464646;
}

#desktop-footer-mailing-list p {
    font-family: "helvetica-neue",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 12px;
    color: #464646;
}

#desktop-footer-mailing-list-form {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background: #ede9e4;
    margin-left: -1px;
    margin-bottom: 16px;
}

#desktop-footer-mailing-list-form input[type=text] {
    font-family: "helvetica-neue",Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    width: 100%;
    height: 30px;
    color: #464646;
    outline: 0;
    border: none;
    background: 0 0;
    padding-left: 13px;
    padding-right: 33px;
}

.form--error--message {
    font-size: 12px;
    color: #DE6060;
    text-align: right;
    margin: 5px 0 0 0;
}

#desktop-footer-mailing-list-form input[type=submit] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 30px;
    color: #464646;
    outline: 0;
    border: none;
    background: 0 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
}

#desktop-footer-social-links {
    position: relative;
}

#desktop-footer-social-links h4 {
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
    letter-spacing: .1em;
    margin-bottom: -1px;
}

#desktop-footer-social-links ul {
    font-size: 0;
    margin-left: -5px;
}

#desktop-footer-social-links ul li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    height: 28px;
    width: 24px;
    text-align: center;
    margin-bottom: 2px;
}

#desktop-footer-social-links ul li a {
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}

.icon-instagram:before {
    content: "\e02e";
}

.icon-facebook:before {
    content: "\e00d";
}

.icon-twitter:before {
    content: "\e00c";
}

.icon-youtube:before {
    content: "\e02f";
}

.breadcrum_box {
    width: 100%;
    height: 30px;
    margin: 30px 0 10px 0;
}

.breadcrum_box a.home {
    text-indent: -999em;
    background: url(../../images/breadcrum_home.png) no-repeat left bottom;
    height: 18px;
    width: 20px;
    padding-left: 0px;
}

.breadcrum_box a {
    font-size: 13px;
    color: #525252;
    display: block;
    float: left;
    position: relative;
    padding-left: 18px;
    background: url(../../images/breadcrum_next.png) no-repeat left bottom;
    padding-right: 9px;
    line-height: 15px;
}

.add_fix:after {
    display: block;
    content: "";
    clear: both;
}

/* Latest Main Pages
---------------------------------------------------------------------------------------------------------------*/
.latest{display:block; width:100%; max-width:2000px; margin:0 auto;}
.latest ul{overflow: hidden;}
.latest ul li{display:block; float:left; width:33%; min-height:100%;}
.latest ul li:first-child, .latest ul li:nth-child(5n+1){margin-left:-1px; clear:left;}

.latest ul li figure{display:block; max-width:100%; border:solid; border-width:0 0 0 1px;}
.latest ul li figure img{
    width: 100%;
    padding: 7%;
    margin: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;}
.latest ul li figure figcaption *{margin:0; padding:0;}

.latest a.overlay{display:block; position:relative;}
.latest a.overlay::before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:"";}
.latest a.overlay::after{display:block; position:absolute; top:50%; left:50%; width:40px; height:40px; line-height:40px; margin:-18px 0 0 -18px; padding:0; border-radius:50%; font-family:"FontAwesome"; font-size:18px; text-align:center;}
.latest a.overlay::before, .latest a.overlay::after{opacity:0;}
.latest a.overlay:hover::before, .latest a.overlay:hover::after{opacity:1;}
.faico a, .latest ::before, .latest ::after, #backtotop{transition:all .3s ease-in-out;}

/* Latest */
.latest ul li figure{border-color:#EBEBEB;}
.latest a.overlay::before{background-color:rgba(255, 241, 0, 0.84);}
.latest a.overlay::after{color:#FFFFFF; background-color:#96AFAA;}
.latest a.overlay:hover,a.overlay:focus {
    color: #348e7b;
    text-decoration: underline;
    margin: 7%;
}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}
.nospace{margin:0; padding:0; list-style:none;}

.center{text-align:center;}

/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */
address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}

/* Spacing
--------------------------------------------------------------------------------------------------------------- */
.btmspace-10{margin-bottom:10px;}
.btmspace-15{margin-bottom:15px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}

.inspace-5{padding:5px;}
.inspace-10{padding:10px;}
.inspace-15{padding:15px;}
.inspace-30{padding:30px;}
.inspace-50{padding:50px;}
.inspace-80{padding:80px;}

.paditout{padding-top:50px;}

.row6 {
    color: #FFFFFF;
    background-color: #bbb20f;
}
.row6 a{color:#2d2d2d; background-color:#FFFFFF;}

.wrapper {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .heading{color:#242424; border-color:inherit;}

/* Generalise
--------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal;}

.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
    #cta, #breadcrumb {max-width:100%;}
}

/* Grid
--------------------------------------------------------------------------------------------------------------- */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}

.first{margin-left:0; clear:left;}

.one_quarter{width:26%;}
.one_third{width:31.28834355828221%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:60%;}


/* CTA - Call To Action */
#cta .heading{color:inherit;}

/* CTA - Call To Action
--------------------------------------------------------------------------------------------------------------- */
#cta{padding:30px 0;}

#cta .heading, #cta .btn{text-transform:uppercase;}
#cta .heading{margin-bottom:10px;}
#cta .btn{display:block; padding:15px; border-radius:8px; text-align:center; font-weight:bold;}
#cta {display:block; margin:0 auto;background: #dcd223;}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
    .latest{width:90%; max-width:none; padding:30px 0;}
    .latest ul li{float:left; width:100%; margin:0 15px 30px 0;}
    .latest ul li:last-child{margin:0;}
    .latest ul li figure{display:inline-block; border-width:0 1px 1px 1px;}
    /*.latest ul li figure img{width:100%;}*/
    .latest ul li figure figcaption{padding:15px 30px;}
    .latest ul li a.mobile_desc {
        text-decoration: none;
        margin: 0px auto;
        position: relative;
        padding: 5px;
        background: #ece13a;
    }
    .latest ul li a.mobile_desc:hover {
        text-decoration: none;
    }
}
/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:750px) {
    .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:left; width:50%; margin:0 0 30px 0; padding:0;}
    #cta{padding-bottom:0;}
}
@media screen and (max-width:480px) {
    .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:left; width:100%; margin:0 0 0 5%; padding:0;}
    #cta{padding-bottom:0;}
}
@media screen and (max-width:900px) {
    #cta {max-width:100%;padding-bottom: 5%;}
}

.footer__contact__us {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: .1em;
    margin-bottom: 2px;
    color: #FFFFFF;
    padding-top: 12px;
    text-align: center;
}

.detail__contact__us {
    padding-top: 5px;
}

.detail__contact__us p {
    font-family: "helvetica-neue";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    padding-bottom: 5px;
    margin:0;
    color: #FFFFFF;
    text-align: center;
}

.paragraph__date {
    margin-bottom: 1%;
    font-size: 12px;
    padding-right: 7px;
}
.paragraph__language {
    margin-bottom: 1%;
    display: inline-flex;
    padding: 12px;
}
.paragraph__language a {
    font-size: 11px;
    text-decoration: none;
    color: #2d2d2d;
    padding: 5px;
}
.paragraph__language a:hover {
    text-decoration: none;
}
span.title__language__selector {
    padding-bottom: 5px;
    width: 130px;
}

.paragraph__navigation a {
    font-size: 11px;
    text-decoration: none;
    color: #2d2d2d;
    padding: 7px;
}

.search-top {
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px 5px 4px 10px;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    width: 100%;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

.search-top input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font: 300 14px/18px 'Raleway', arial;
    color: #999;
}

.search-top button {
    font-size: 18px;
    color: #999;
    background: none;
    border: none;
}

.no__padding__right {
    padding-right: 0;
}

.padding__center {
    padding-left: 3%;
    padding-right: 3%;
}

.full__width {
    width: 100%;
}

.font__normal {
    font-size: 12px;
    line-height: 16px;
}

.font__normal a:hover {
    text-decoration: none;
}

/**
 * Responsive Bootstrap Tabs by @hayatbiralem
 * 15 May 2015
 */

@mixin ellipsis(){
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
}

@mixin icon-styles(){
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive {
    > li {
      display: none;
      width: 23%;
      > a {
        @include ellipsis();
        width: 100%;
        text-align: center;
        vertical-align: top;
      }
      &.active {
        width: 54%;
        &:first-child {
          margin-left: 23%;
        }
      }
      &.active,
      &.prev,
      &.next {
        display: block;
      }
      &.prev,
      &.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      &.next > a,
      &.prev > a {
        -webkit-transition: none;
        transition: none;
        .text {
          display: none;
        }
        &:after,
        &:after {
          @include icon-styles();
        }
      }
      &.prev > a:after {
        content: "\e079";
      }
      &.next > a:after {
        content: "\e080";
      }
      &.dropdown {
        > a > .caret {
          display: none;
        }
        > a:after {
          content: "\e114";
        }
        &.active > a {
          &:after {
            display: none;
          }
          > .caret {
            display: inline-block;
          }
        }

        .dropdown-menu {
          &.pull-xs-left {
            left: 0;
            right: auto;
          }
          &.pull-xs-center {
            right: auto;
            left: 50%;
            @include transform(translateX(-50%));
          }
          &.pull-xs-right {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}



/**
 * Demo Styles
 */
.title__white__papers {
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .title__white__papers {
        margin: 30px 0 20px 0;
    }
}

.title1-icon-white-paper {
    position: relative;
    font-size: 42px;
    font-weight: normal;
    margin: 0 0 15px 0;
    text-align: center;
    display: contents;
    text-transform: uppercase;
}

.title-with-box {
    border: 1px solid #e6e6e6;
    padding: 12px 40px;
    display: inline-block;
    position: relative;
}
.title-with-box:after{
    content: '';
    width: 16px;
    height: 10px;
    background-image: url(/themes/ebtke/front/svg/ico-hotelfactsheet.svg);
    top: -6px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.wrapper {
  padding: 15px 0;
}
.bs-example-nav-tab {
    background: #eee;
    margin-bottom: 20px;
}
.bs-example-tabs .nav-tabs {
    margin: 0px auto;
    width: auto;
    display: table;
}

.bs-example-tabs .nav-tabs li a {
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
}

#myTabContent {
    padding-top: 10px;
}

@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}

.info__download {
    font-size: 10px;
    margin-bottom: 2px;
    text-align: center;
}

.sog-tile {
    position: relative;
}

.photo-bg {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: 50% 80%;
    background-size: 70%;
}

.tile-text {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
}

.tile-text .subhead {
    color: #00a77e;
}

.resultssection .sog-tile section .tile-text .subhead {
    font-size: .7em;
    display: block;
    text-transform: uppercase;
    margin-bottom: 3px;
    letter-spacing: 1px;
    font-weight: 400;
}

.tile-text .subhead span {
    color: #333;
}

.tile-text h1 {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.tile-text h2 {
    color: #2d2d2d;
    font-size: .98em;
    margin: 10px 0 0;
    font-weight: 500;
    line-height: 22px;
}

span.plush {
    cursor: pointer;
    background-image: url(../../images/icon_plus.png);
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-size: 100%;
    width: 30px;
    height: 30px;
}
.border__gray {
    border: 1px #eee solid;
}

#margin__centered {
    margin-left: 0.4%;
    margin-right: 0.4%;
    margin-top: 0.4%;
    margin-bottom:0.4%;
}


.cd-tabs {
  position: relative;
  width: 100%;
  margin: 2em auto;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}
@media only screen and (min-width: 961px) {
    .cd-tabs nav {
        position: relative;
        float: none;
        background: transparent;
        box-shadow: none;
    }
}


@media only screen and (max-width: 960px) {

    .cd-tabs .tags {
        position: relative;
        top: 15px;
        left: 0;
        width: 100%;
        z-index: 99;
        margin-bottom: 20px;
    }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 34px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #f05451;
  color: #29324e;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}
.cd-tabs-navigation a[data-content='inbox']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='new']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='gallery']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='store']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='trash']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}
.cd-tabs-navigation a[data-content='store'].selected::before {
  background-position: -60px -20px;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: -80px -20px;
}
.cd-tabs-navigation a[data-content='trash'].selected::before {
  background-position: -100px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 2px 0 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}

@media only screen and (max-width: 768px) {

    .cd-tabs-navigation a {
        width: 100%;
    }

    .cd-tabs-navigation {
        width: 100%;
    }

    .cd-tabs-navigation li {
        width: 25%;
    }
}
@media only screen and (min-width: 960px) {

    .cd-tabs .tags {
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .cd-tabs-navigation {
        /* tabbed on top on big devices */
        width: 100%;
        background-color: #f8f7ee;
        box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }
    .cd-tabs-navigation a {
        height: 60px;
        line-height: 75px;
        width: auto;
        text-align: left;
        font-size: 14px;
        font-size: 1.2rem;
        padding: 0 2.8em 0 4.6em;
    }
    .cd-tabs-navigation a.selected {
        box-shadow: inset 0 2px 0 #f05451;
    }
    .cd-tabs-navigation a::before {
        top: 50%;
        margin-top: -10px;
        margin-left: 0;
        left: 38px;
    }
}

.cd-tabs-content {
    background: #ffffff;
}

.cd-tabs-content h3 {
    padding-bottom: 12px;
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.cd-tabs-content h5 {
    padding-bottom: 12px;
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
    font-family: "helvetica-neue";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 3em;
    min-height: 200px;
  }
  .cd-tabs-content li p {
    font-size: 1.4rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cd-tabs .tag {
    display: block;
    height: auto;
    font-size: 15px;
    padding: 15px;
    font-weight: 800;
}

.cd-tabs .tag span {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.tag {
    line-height: 1;
    background: #fff100;
    color: #2d2d2d !important;
}

.tag:after {
    content: " ";
    height: 30px;
    width: 0;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    pointer-events: none;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 11px solid #fff100;
}

.cd-tabs .block_content {
    width: 100%;
    display: inline-table;
    margin-top: 10px;
    margin-bottom: 12px;
}

.cd-tabs p.excerpt {
    font-size: 16px;
    color: #2d2d2d;
    line-height: 2;
}
.arrow_box_left {
    position: relative;
    background: #fff100;
    border: 4px solid #2d2d2d;
    color: #2d2d2d;
    padding: 10px;
    text-align: center;
    z-index: 99;
    min-height: 90px;
    padding-top: 20px;
    font-weight: 800;
}

.arrow_box_center {
    position: relative;
    background: #fff100;
    border: 4px solid #2d2d2d;
    color: #2d2d2d;
    padding: 10px;
    text-align: center;
    min-height: 90px;
    padding-top: 20px;
    font-weight: 800;
}

.arrow_box_right {
    position: relative;
    background: #fff100;
    border: 4px solid #2d2d2d;
    color: #2d2d2d;
    padding: 10px;
    text-align: center;
    z-index: 99;
    min-height: 90px;
    padding-top: 20px;
    font-weight: 800;
}


.arrow_box_bottom {
    position: relative;
    background: #fff100;
    border: 4px solid #2d2d2d;
    color: #2d2d2d;
    padding: 10px;
    text-align: center;
    min-height: 90px;
    padding-top: 20px;
    font-weight: 800;
}


.arrow_box_left:after, .arrow_box_left:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_left:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff100;
    border-width: 40px;
    margin-top: -40px;
}
.arrow_box_left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #2d2d2d;
    border-width: 45px;
    margin-top: -44px;
}

.arrow_box_right:after, .arrow_box_right:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_right:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff100;
    border-width: 40px;
    margin-top: -40px;
}
.arrow_box_right:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #2d2d2d;
    border-width: 45px;
    margin-top: -44px;
}

.arrow_box_bottom:after, .arrow_box_bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_bottom:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff100;
    border-width: 20.5px;
    margin-left: -25px;
}
.arrow_box_bottom:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #2d2d2d;
    border-width: 26px;
    margin-left: -30px;
}

iframe {
    border: none;
}

.geothermal__detail__body {
    background-color: #e9e9e9;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.geothermal__detail__preview {
    height: calc(100vh - 95px);
    width: 100%;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.default-after-banner-text h3:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.map-cta a{ text-decoration: none; }
.map-cta a:hover{ text-decoration: none; }

.map-cta:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 31px;
    background: url(../../svg/map-icon.svg) center center no-repeat;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}

.map-cta span {
    display: table-cell;
    vertical-align: middle;
}

#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
    border-bottom: 5px #fff100 solid;
}

#filters li {
    float:left;
}

#filters li span {
    display: block;
    padding:15px 16px;       
    text-decoration:none;
    color:#666;
    cursor: pointer;
    font-weight: 800;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "helvetica-neue";
}

#filters li span.active {
    background: #fff100;
    color:#2d2d2d;
}

#green__pages__list {
    margin-top: 5%;
}
 
#green__pages__list .green__pages {

    display:none;
    float:left;
    overflow:hidden;
    margin-top: 10px;
}
 
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:23%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
    border: 3px #eee solid;
    height: 250px;
}

.portfolio img {
    max-width:100%;
    position: relative;
    top:0;
-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);     
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}
            
.portfolio .text-category {
    display:block;
    font-size:9px;
}
    
.portfolio:hover .label {
    bottom:0;
}
.portfolio:hover img {
    top:-30px;
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }       
}

#title__event {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px #eee solid;
    padding-bottom: 20px;
}

#description__event {
    margin-top: 1%;
    border-bottom: 1px #eee solid;
    margin-left: 1%;
}

#description__event__landing {
    border-bottom: 1px #eee solid;
}

#introduction__event p {
    text-align: justify;
    font-size: 13px;
    line-height: 32px;
}

#introduction__event_landing p {
    text-align: justify;
    font-size: 13px;
    line-height: 32px;
}


#title__event_landing {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px #eee solid;
    padding-bottom: 20px;
    background: #2d2d2d;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: 2%;
}
#subtitle__event_landing {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px #eee solid;
    padding-bottom: 20px;
}
.banner--main-event {
    position: relative;
    text-align: center;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner--main-event .banner__content {
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: 9;
    color: #fff;
}

.banner--main-event .banner__content .banner__content__heading {
    font-size: 32px;
    font-family: "helvetica-neue", sans-serif;
    letter-spacing: 0.6px;
    margin-bottom: 0;
    line-height: 39px;
    color: #2d2d2d;
    text-transform: uppercase;
}
.banner--main-event .banner__content .banner__content__copyright {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    letter-spacing: 0;
    font-family: "helvetica-neue";
    margin-bottom: 15px;
}
table.table--data-style {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    display: table;
}
table.table--data-style tr:nth-child(odd) {
    background: #f2f0ec;
}
table.table--data-style .header {
    background-color: #555;
    color: #fff;
    font-family: 'helvetica-neue';
    padding: 15px 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
table.table--data-style td {
    text-align: center;
    padding: 15px 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
ul li.data__table_industri {
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
}

ul li.data__table_industri:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #44c8f5;
    position: absolute;
    left: -15px;
    top: 10px;
    margin: auto;
}

.containerfull {
    width: 100%;
    margin: auto;
}

@media (max-width: 1500px) {
    .section__top {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.section__top {
    padding: 36px 68px 0 68px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.section__top__container,.container--main-latest-news {
    width: 100%;
    margin: 0;
}

.section__top__container {
    width: 100%;
    margin: 0 auto;
}

.section__top__heading {
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 34px;
}

.border__sizing_none {
    padding: 0;
    margin: 0;
}
.text__ufo {
    text-align: center;
    position: relative;
    font-size: 24px;
    color: #FFFFFF;
}
.text__ufo_line-white:after {
    background-color: #fff;
}

.text__ufo:after {
    content: " ";
    width: 25px;
    height: 1px;
    display: inline-block;
    background-color: #414141;
    position: absolute;
    text-align: center;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.customer_services {
    padding-right: 10px;
    float: left;
    text-align: left;
    padding: 20.5px 0;
    position: relative;
    width: 100%;
}
.customer_services h2 {
    
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.customer_services p {
    text-align: center;
    padding-top: 15px;
    font-size: 23px;
    line-height: 5.2;
    font-weight: 700;
}

.mail_services {
    padding-right: 10px;
    float: left;
    text-align: left;
    padding: 20.5px 0;
    position: relative;
}

.mail_services h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.mail_services p {
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
}

.information_services {
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
}

.mail_to {
    align-items: center;
}

.mail_to svg {
    float: left;
    max-width: 100%;
}

@media screen and (min-width:1200px) {

    p.description {
        color: #2b2b30;
        font-size: 26px;
        font-weight: normal;
        line-height: 1.33;
    }
    .mail_to p {
        text-align: center;
        padding-top: 15px;
        font-size: 23px;
        line-height: 5.2;
        font-weight: 700;
    }
}

@media screen and (max-width:1200px) {
    p.description {
        color: #2b2b30;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.33;
    }
    .mail_to p {
        text-align: center;
        padding-top: 15px;
        font-size: 20px;
        line-height: 3.2;
        font-weight: 700;
    }
}

.border__row {
    border-bottom: 1px #eeeeee solid;
    padding-bottom: 20px;
}

.news {
    margin-top: 50px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.news img {
    border-radius: 3px;
}

.picsGall {
    max-width: 100%;
    height: auto;
}

.news h3 {
    text-align: center;
    color: #2f2f2f;
    font-size: 16px;
    font-family: 'helvetica-neue', 'sans-serif';
    font-weight: 300;
}

.news h3 a {
    text-align: center;
    color: #2f2f2f;
    font-size: 16px;
    font-family: 'helvetica-neue', 'sans-serif';
    font-weight: 300;
    text-decoration: none;
}

.news ul {
    margin-top: 14px;
    padding-left: 0;
    text-align: center;
    display: flex;
}

.news ul li {
    font-family: 'helvetica-neue', 'sans-serif';
    font-weight: 300;
    color: #a9a9a9;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}

.news ul li {
    padding-right: 20px;
    display: inline-block;
    list-style: none;
    float: left;
}

.news li i {
    padding-right: 5px;
}

.news p {
    line-height: 23px;
    color: #666666;
    font-size: 13px;
    font-family: 'helvetica-neue', 'sans-serif';
    font-weight: 300;
}

.news .readMore {
    text-decoration: none;
}

.readMore {
    color: #1fcdff;
}

.hrNews {
    margin-top: 18px;
    border: 0;
    height: 1px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}

#detail-content-container {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

#detail-content-container:after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    bottom: 28px;
    right: 10px;
    width: 0;
    border-left: 1px solid #c2c2c2;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    -webkit-opacity: .5;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
}

#desktop-map-button {
    padding-top: 0!important;
    margin-bottom: 71px;
}
#desktop-map-button.center-version {
    display: block;
    text-align: center;
    padding-left: 0;
}
#desktop-map-button {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: relative;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 160px;
}
#desktop-map-button h3 {
    font-size: 22px;
    line-height: 25px;
    color: #637f8e;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}
#desktop-map-button.center-version .map-icon {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.map-icon {
    width: 142px;
    height: 140px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.planner-cta {
    text-align: center;
    cursor: pointer;
    display: block;
    margin-bottom: 76px;
}
.planner-cta h4 {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: .075em;
    color: #637f8e;
    margin-bottom: 4px;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}
.planner-cta h3 {
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0;
    color: #637f8e;
    margin-bottom: 8px;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}
.planner-cta p {
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #898989;
    width: 230px;
    margin: 0 auto;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}

.page-default-details-intro h4 {
    font-family: "helvetica-neue",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.langselector {
    position: absolute;
    top: 0;
    right: 147px;
    z-index: 3;
}

.containerfull {
    width: 100%;
    margin: auto;
}

.langselector .langselector__select {
    position: relative;
    border-radius: 0 0 5px 5px;
    background: rgba(0,0,0,.5);
}

.langselector .langselector__select span {
    z-index: 3;
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: .79px;
    text-transform: uppercase;
    color: rgba(255,255,255,.9);
    padding: 7px 29px 7px 12px;
}

.langselector .langselector__select ul {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 25px;
    left: 0;
    margin: 0;
    background: rgba(0,0,0,.7);
    transition: .3s ease;
    width: 100%;
}

.langselector .langselector__select ul li {
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: .79px;
}

.langselector .langselector__select ul li a {
    display: block;
    padding: 8px 18px 8px 12px;
}
.langselector .langselector__select:after, form .input--date:after, form .input--error:after {
    bottom: 0;
    content: "";
}
.langselector .langselector__select:after {
    position: absolute;
    top: 0;
    right: 12px;
    margin: auto;
    width: 7px;
    height: 7px;
    background: url(../../svg/ico-down.svg) no-repeat;
}
.langselector .langselector__select.active:after {
    background: url(../../svg/ico-up.svg) no-repeat;
}

.langselector .langselector__select.active, .subscribe-connect .form--subscribe .field input {
    border-radius: 0;
}

.langselector .langselector__select {
    position: relative;
    border-radius: 0 0 5px 5px;
    background: rgba(0,0,0,.5);
}

.langselector .langselector__select.active ul {
    opacity: 1;
    visibility: visible;
    top: 25px;
    width: 100%;
}

.langselector .langselector__select ul li {
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: .79px;
}

.langselector .langselector__select.active ul {
    opacity: 1;
    visibility: visible;
    top: 25px;
    width: 100%;
}