.row-fluid {
    border-bottom: 0px;
}
.row-fluid:after, .row-fluid:before {
    display: table; line-height: 0; content: "";
}

.news_landing_grid {
    position: relative; padding: 50px; width: 50%; display: block; float: left; min-height: 20px; box-sizing: border-box; padding-top: 0px;
}
.news_landing_grid h2 {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    vertical-align: baseline;
    text-align: center;
    text-transform: uppercase;
}

.news_landing_grid img {
	max-width: 100%; height: auto; outline: 0; opacity: 0.6;
}

.news_landing_grid p {
	color: #626262; font-size: 14px; line-height: 24px; margin-top: 3%; text-align: center; font-family: 'Philosopher', sans-serif;
}

.news_landing_grid: after {
    content: ''; position: absolute; top: 0; bottom: 0; right: 0; margin: auto; height: 90%; border-right: 1px solid #eaeaea;
}

#content__bottom p {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
    text-align: justify;
}

#content__bottom__image {
    width: auto;
    margin-right: 19px;
    height: 358px;
    margin-left: 19px;
}

#content__bottom__image .content__bottom__container {
    height: 358px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.content__bottom__image__container {
    background: #d7d7d7;
}
.content__bottom__image__container {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    height: 358px;
}

.content__bottom__image__container img {
    opacity: 0.7;
    -webkit-transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
    transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
}

.content__footer__middle {
    padding-top: 12px;
    width: 100%;
    margin: 0px auto;
    padding-left: 25px;
    padding-right: 25px;
}
.left__logo {
    width: 48%;
    float: left;
    text-align: center;
    background: #e4e4e4;
    border: 1px solid #b9b9b9;
    padding: 10px;
}

.right__logo {
    width: 48%;
    float: right;
    text-align: center;
    background: #e4e4e4;
    border: 1px solid #b9b9b9;
    padding: 10px;
}
.center__logo {
    width: 99.5%;
    float: left;
    text-align: center;
    background: #e4e4e4;
    border: 1px solid #b9b9b9;
    padding: 3px 0;
    margin-top: 15px;
}

h3.footer__title {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: .1em;
    margin-bottom: 10px;
    color: #464646;
    text-align: center;
}
.content__footer__middle img {
    margin-top: 10px;
}

/** NEWS LANDING */

.card__container {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin: 0.75rem 0;
    position: relative;
    border-radius: 3px;
}

.padding20{
    padding: 20px;
}

.brandon.medium, a.btn--primary, input[type='submit'].btn--primary, button.btn--primary {
    font-family: 'brandon_grotesque-medium';
}

h5.s15 {
    font-size: 15px;
}

.spacing1 {
    letter-spacing: 1px !important;
}

.margin0 {
    margin: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.text-gray {
        color: rgba(48, 51, 56, 0.5);
}
small {
    font-size: 12px;
}

.article {
        margin: 6px 0 0 0;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.article--item {
    padding: 24px 0 20px;
    border-top: 1px solid rgba(48, 51, 56, 0.1);
}

h3.semibold {
    line-height: 26px;    font-family: 'proximanova-bold';    font-size: 24px;
    font-weight: 400;
}

.flex {
    display: -webkit-box;
    display: flex;
    margin-top: 5px;
}

.article .article--item img {
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
}

.center, .center-align {
    text-align: center;
}

a.btn--primary.blue, input[type='submit'].btn--primary.blue, button.btn--primary.blue {
    color: #2d2d2d;
}

a.btn--primary, input[type='submit'].btn--primary, button.btn--primary {
    border: 1px solid #E1E1E1;
    letter-spacing: 1.5px;
    font-size: 10px;
    color: #4E5052;
    box-shadow: none;
    background-color: transparent !important;
    height: 35px;
    line-height: 35px;
    padding: 0 2rem;
    border-radius: 3px;
}

a.btn--primary.blue:hover,
input[type='submit'].btn--primary.blue:hover,
button.btn--primary.blue:hover {
  color: #2d2d2d;
  background-color: #f6f4f1 !important;
  border: 1px solid #2d2d2d;
  text-decoration: none;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}

p.news {
    color: #303338;    font-size: 14px;
    line-height: 24px; margin-top: 20px;
}

.populararticle {
        margin: 6px 0 0 0;
    padding: 18px 0 0 0;
    border-top: 1px solid rgba(48, 51, 56, 0.1);
}

.populararticle li {
    padding: 7px 0;
}

.flex.vcenter {
    -webkit-box-align: center;
    align-items: center;
}

.populararticle li .populararticle--img {
    margin-right: 10px;
    border: 2px solid rgba(33, 33, 33, 0.12);
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: 2px solid rgba(33, 33, 33, 0.12);
    border-radius: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.populararticle li img {
        width: 170px;
    max-width: none;
}

.populararticle .left-align {
        width: calc(100% - 60px);
}
.left-align {
    text-align: left;
}

.populararticle li small {
    display: inline-block;
    line-height: 16px;
    padding: 0;
}

.semibold {
    font-family: 'proximanova-semibold';
}

small.s10 {
    font-size: 10px;
}
.detail--header {
        padding: 40px 20px 0 20px;
}
.breadcrumb {
        margin-bottom: 5px;
    color: #a2a6ad;font-size: inherit;
}

.breadcrumb:before {
    content: '\f105';
    font-family: 'FontAwesome';
    color: inherit;
    vertical-align: middle;
    font-size: inherit;
    margin: 0 5px 0 2px;
}

.breadcrumb:last-child {
    color: #a2a6ad;
}
#desktop-breadcrumb-menu {
    padding-top: 20px;
    padding-bottom: 12px;
}
#content__date {
    margin: 10px;
    width: 100%;
}
.text-center {
    text-align: center;
}
h3.latestnews {
    margin: 0;
    line-height: 60px;
    font-size: 27px;
    font-weight: 400;
    font-family: 'proximanova-bold';
}

h3.company__title {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    margin: 10px;
}

h3.latestnews__title {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 56px;
    margin: 10px;

}
.default-large-banner-section {
    padding-bottom: 80px;
}
.page-default-details-intro {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.style--texteditor .medium-insert-images {
    margin: 40px 0;
}

.medium-insert-images figure{
    position: relative;
}
.style--texteditor figure {
    margin: 0;
    position: relative;
    display: block;
}

.medium-insert-images figure:first-child img {
    margin-top: 0;
}

.medium-insert-images figure img, .mediumInsert figure img {
    max-width: 100%;
    margin-top: 1em;
    vertical-align: top;
}

.style--texteditor p {
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
}

#blog {
    padding-top: 50px;
}

/* __________ Blog Post __________ */
.blog_post_img {
    overflow:hidden;
    float:left;
    position:relative;
    width:470px;
    height:270px;
    margin-right:30px;
    background-color:#FFF;
}
.blog_post_img img {
    width:auto;
    max-width:none;
    height:100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.blog_post:hover .blog_post_img img {opacity:0.5;}

.blog_post a.zoom {
    position:absolute;
    z-index:30;
    left:50%;
    bottom:50px;
    width:60px;
    height:36px;
    margin:0 0 -30px -30px;
    opacity:0;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:100% auto;
    -webkit-background-size:100% auto;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.blog_post:hover a.zoom {
    bottom:50%;
    opacity:1;
}
.blog_post a.zoom:hover {}

.blog_post_descr hr {
    border-color:#e9e9e9;
    margin:10px 0;
}
.blog_post_date {
    margin-top:-3px;
    text-transform:uppercase;
    line-height:14px;
    font-size:11px;
}

.blog_post_title {
    display:block;
    padding-bottom:12px;
    line-height:26px;
    font-size:20px;
    color:#333;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
}
.blog_post_title:hover {color:#666;text-decoration: none;}

.blog_post_info li {position:relative; display:inline-block; padding-right:22px;}
.blog_post_info li:before {content:''; position:absolute; right:9px; top:4px; height:12px; width:1px; background-color:#d3d3d3;}
.blog_post_info li:last-child:before {display:none;}
.blog_post_info li a {font-size:14px;text-transform: uppercase;}
.blog_post_info li a:hover{text-decoration: none;}
.blog_post_content {
    padding-bottom:18px;
    line-height:26px;
    font-size:17px;
}
.blog_post_content h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 600;
}
.blog_post_content p {
    text-align: justify;
    margin: 0px;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-top: 1px;
}
.blog_post .read_more_btn {
    font-weight:500;
    font-size:16px;
    color:#333;
}
.blog_post .read_more_btn:hover {color:#666;}


.margbot50 {
    margin-bottom: 50px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .blog_post_img {
        width: 400px;
        height: 314px;
    }
    .blog_post_title {
        font-size: 24px;
        line-height: 27px;
    }
    .blog_post_content {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .blog_post_img {
        width: 400px;
        height: 314px;
    }
    .blog_post_title {
        font-size: 24px;
        line-height: 27px;
    }
    .blog_post_content {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 767px) {
    .blog_post_img {
        width: 200px;
        height: 157px;
        margin-right: 20px;
    }
    .blog_post_info li {
        padding-right: 15px;
    }
    .blog_post_info li:before {
        right: 6px;
    }
    .blog_post_info li a {
        font-size: 13px;
    }
    .blog_post_content {
        padding-top: 20px;
        font-size: 14px;
        line-height: 22px;
    }

}

@media (max-width: 479px) {
    .blog_post_img {
        float: none;
        margin-bottom: 10px;
        width: 100%;
        height: 227px;
    }
    .blog_post_content {
        padding-top: 0;
    }
}

.detail-also-like-title {
    margin: 10px;
    width: 100%;
}

.detail-also-like-title h1 {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
}
#related__news {
    min-height: 310px;
}

#related__news a {
    text-decoration: none;
    color: #2d2d2d;
}
#related__news a:hover {
    text-decoration: none;
}
#related__news h4 {
    font-family: "Harriet Display Medium",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
    transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;
}

#related__news ul {
    list-style: none;
}
#related__news ul li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    line-height: 21px;
    letter-spacing: .025em;
    padding-right: 24px;
    position: relative;
    color: #464646;
}
#related__news ul li:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 11px;
    width: 0;
    height: 15px;
    border-left: 1px solid #464646;
}
#related__news ul li:last-child {
    padding-right: auto;
}

#related__news img {
    width: 100%;
    opacity: 0.6;
    overflow-y: hidden;
    max-height: 183px;
}
#related__news img:hover {
    opacity: 1;
}

.sidepanel {
    margin-bottom: 25px;
}
.widget_meta li {
    position: relative;
    padding: 13px 10px 12px 30px;
    border-top: 1px solid #e9e9e9;
}
.widget_meta li::before {
    content: "°";
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 27px;
    color: rgb(204, 204, 204);
    transition: all 0.3s ease-in-out;
}
.widget_meta li a {
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    color: #666;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
}
.widget_meta li a:hover {color:#333;text-decoration: none;}

.widget_tags h3 {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 21px;
}

.widget_tags li {
    display: inline-block;
    margin: 0 3px 5px 0;
}

.widget_tags li a {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    display: block;
    padding: 9px 19px;
    font-size: 16px;
    border: 1px solid #e9e9e9;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.widget_tags li a:hover {
    padding:8px 18px;
    border:2px solid #333;
    text-decoration: none;
}

.default-banner-section {
    position: relative;
}

.default-banner-section .default-banner-image {
    width: 100%;
    height: 550px;
}
.default-banner-section .default-banner-image .image-container {
    height: 550px;
        overflow: hidden;
    position: relative;
    background: #d7d7d7;
}

.image-container.image-loaded-version img {
    opacity: 1;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity .4s cubic-bezier(.645,.045,.355,1) 0s;
}

.default-after-content-text {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.default-after-content-text h1 {
    padding-bottom: 12px;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
}
.default-after-content-text h3 {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.default-after-banner-text {
    padding-top: 45px;
    padding-bottom: 40px;
    text-align: center;
}

.default-after-banner-text h1 {
    padding-bottom: 12px;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
}

.default-after-banner-text h3 {
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.landing-introduction-section {
    padding-top: 0px;
    margin-bottom: 77px;
}
.landing-introduction-copy {
    position: relative;
    height: 370px;
    padding-top: 38px;
}
.landing-introduction-copy .default-copy {
    height: 100%;
}
.default-copy {
    position: relative;
}
.default-copy:after, .default-copy:before {
    display: table;
    content: "";
    line-height: 0;
}

.default-copy h1 {
    margin-bottom: 21px;
    font-family: "Harriet Display Light",TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
}
.default-copy p+p {
    margin-top: 28px;
}
.default-copy p {
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #464646;
}

.landing-introduction-image {
    height: 470px;
    margin-left: 40px;
}
.landing-introduction-image .image-container {
    height: 470px;
    overflow: hidden;
    position: relative;
    background: #d7d7d7;
}