@media (min-width: 1200px) {
	#slider {
    	height: 530px;
  	}
}
@media (min-width: 1025px) {
	.news_landing_grid {
		padding: 20px;
	}
	.news_landing_grid h2 {
        font-size: 16px;
        line-height: 28px;
    }
    .news_landing_grid p {
    	font-size: 16px;
    }
    .content-txt{
	    top:65%;
	}
  	.content-txt h1{
	    font-size:24px;
  	}
  	.content-txt h2{
	    font-size:14px;
  	}
}

@media (max-width: 1024px) {

	.news_landing_grid {
        padding: 10px;
	 }
	.news_landing_grid h2 {
	    font-size: 23px;line-height: 20px;
	}
	#slider {
    	height: 400px;
  	}
  	.content-txt {
    	top: 55%;
  	}

  	.default-after-banner-text {
  		padding-top: 91px;
    	padding-bottom: 25px;
    	text-align: center;
  	}
}

@media only screen and (min-width: 90.063em) {
	.column, .columns {
	    position: relative;
	    padding-left: .46875rem;
	    padding-right: .46875rem;
	    float: left;
	}
}

@media (max-width: 990px) and (min-width: 768px) {
	.img__carousel {
		width: 24%;
		display: inline-table;
		overflow: hidden;
	}
	.img__carousel img {
		width: 100%;
	}
}

@media (min-width:769px) {
	#desktop__content {
		display: block;
	}

	#mobile__content {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 768px) {
	#logo__header__mobile {
		width: 70%;
	}

	#navbar-brand__mobile {
		position: relative;
		float: left;
	    height: 90px;
	    padding: 0px 15px;
	    font-size: 18px;
	    line-height: 20px;
	    bottom: 80px;
	    color: #777;
	    top:10px;
	}
	#navigation-menu {
	    height: auto;
	  }
	.navbar-nav > li > a {
		padding-left: 4%;
	}
	#desktop__content {
		display: none; visibility: hidden;
	}

	#mobile__content {
		display: block;
	}
	.f-nav {
		position: absolute;
	}
	.col-mobile-4 {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.content__production__urea {
		float: left;
		margin-left: 5%;
	}

	.content__production__amoniak {
		float: right;
		margin-right: 5%;
	}
	.news_landing_grid h2 {
	    font-size: 14px;
	    line-height: 17px;
	}
}

@media (min-width: 769px) and (max-width: 1024px){
	.content-txt{
	    top:55%;
	}
  	.content-txt h1{
	    font-size:24px;
  	}
  	.content-txt h2{
	    font-size:14px;
  	}
}


@media (min-width: 641px) and (max-width: 768px) {
	#slider{
	    width:100%;
	    height:315px;
	    position:relative;
	    overflow:hidden;
  	}
  	.content-txt {
    	top: 45%;
  	}
  	.content-txt h1 {
        font-size: 18px;
  	}
  	.content-txt h2 {
    	font-size: 13px;
  	}
  	.image{
    	width:100%;
  	}
  	.image img{
    	width:100%;
  	}
  	.page-header h2 {
    	font-size: 26px;line-height: 20px;
  	}
	h3.subtitle {
	    font-size: 14px;
	}
	.default-content p {
	    font-size: 11px;    line-height: 25px;
	}
	.arrow-cta {
	    font-size: 10px;letter-spacing: .045em;
	}
	.news_landing_grid {
	    padding: 5px;    margin-bottom: 10px;
	}
	.news_landing_grid h2 {
	        font-size: 16px;    line-height: 10px;
	}
	.news_landing_grid p {
	    font-size: 12px;line-height: 20px;
	}
	.content_gcg_mobile_images {
	    float: left;margin-right: 2%;height: 200px;
	}

	#category-landing-pages p {
	    font-size: 12px;
	    line-height: 20px;
	    margin-bottom: 5px;
	}
	#category-landing-pages blockquote {
	    width: 53%;
	    float: right;
	    padding: 0px 15px;
	    margin: 0 0 10px;
	}

	.group-landing-instagram-item {
		width: 24.666%;display: inline-table;
	}
}

@media (max-width: 640px) {
	.page {
		    padding: 10px 0;
	}
	#slider {
	    width: 100%;
	    height: 265px;
	    position: relative;
	    overflow: hidden;
	}

	.galleryItem {width: 29%; margin: 2%;}
	.content_footer_mailing {
		width: 100%;
	}
	.page-header h2 {
		font-size: 24px;
    	line-height: 13px;
	}
	h3.subtitle {
		font-size: 16px;
    	line-height: 24px;
        margin-left: 1%;
    	margin-right: 1%;
	}
	.content_gcg_mobile_images {
		float: left;margin-right: 2%;height: 200px;
	}
	#category-landing-pages p {
		font-size: 13px;
    	line-height: 20px;
	}
	.default-content p {
		font-size: 12px;
    	line-height: 28px;
	}
	.content-txt h1 {
		font-size: 18px;
	}
	.content-txt h2 {
		font-size: 15px;
	}
	.group-landing-instagram-item {
		width: 32.666%;display: inline-table;
	}
	.content-txt {
		top: 60%;
	    width: 348px;
	    height: auto;
	}
	.default-after-banner-text {
  		padding-top: 40px;
    	padding-bottom: 0px;
    	text-align: center;
  	}
  	.default-banner-section {
  		height: auto;
  	}
  	.default-banner-section .default-banner-image {
	    width: 100%;
	    height: 185px;
	}
  	.default-banner-section .default-banner-image .image-container {
	    height: 185px;
	    overflow: hidden;
	    position: relative;
	    background: #d7d7d7;
	}
}

@media (max-width: 600px) {
	.row-fluid {
	    border-bottom: none;
	}
	.news_landing_grid {
	    padding: 30px 0;
	    border-bottom: 1px solid #eaeaea;
	    width: 100%;
	}
}


@media (max-width: 480px) {
	#logo__header__mobile {
		width: 90%;
	}
	#navbar-brand__mobile {
		position: relative;
		float: left;
	    height: 90px;
	    padding: 0px 15px;
	    font-size: 18px;
	    line-height: 20px;
	    bottom: 80px;
	    color: #777;
	    top:10px;
	}
	#home-introduction-content {
		padding-right:0px;
	}
	.news_landing_grid {
        width: 100%;
        padding: 5px;
        margin-bottom: 10%;
        border-bottom:0px;
    }
    .content_gcg_mobile_images {
    	height: auto;
    	float: none;
    	margin-right: 0px;
    	margin: 0px auto;
    	padding-bottom: 5%;
    }
    #category-landing-pages p {
	    font-size: 16px;
	    line-height: 28px;
	}
    .image img {
    	height: 265px;
    }
	#group-landing-instagram-section {
		display: none;
		visibility: hidden;
	}
}